body{
    background-color: #7D8F97 ;
    margin-top:-0;
    margin-left: -0;
    margin-right: -0;
}
div.arriba{
    background-color: #9A8AFF;
    padding-top: 15px;
    text-align: center;
}
.text{
    text-align: center;
    font-size: 60px;
    font-family: Redressed;
    color: black;
    padding-top: 160px;
  }


@font-face {
    font-family:Redressed;
    src: url('Redressed.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }

 div.cuadro{
    border-style: solid;
    border-color: black;
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;
    height: 500px;
    margin-top: 40px;
  }
 
  footer{
    padding-top: 40px;
    text-align: center;
  }
button{
width: 400px;
height: 100px;
margin-left: 160px;
margin-right: 160px;


}
 p.p{
     font-size: 35px;
font-family: Redressed;
color: black;
 }

 nav li{
    display:inline-block;
    padding:5px 10px;
    color:white;
    position:relative;
    font-family:Redressed;
}

nav a {
    text-decoration:none;
    color:inherit;
    font-size:40px;
    font-family:Redressed;
}